body
{
    font: 100% Courier New;
    background-color: black;
    color:#84c754;
}
input
{
    background-color: black;
    color:#84c754;
}
#title
{
    align-items: center;
}
#sendBtn
{
    background-color:tomato;
}
#register,#login
{
    background-color: #84c754;
    color: black;
    font: 100% Courier New;
    font-weight: bold;
}
